<!-- views/account/account-management.ejs -->
<h2>Welcome <%= user.firstname %></h2>

<% if (['Employee','Admin'].includes(user.account_type)) { %>
  <h3>Inventory Management</h3>
  <p><a href="/inventory/manage">Manage Inventory</a></p>
<% } %>

<a href="/account/update/<%= user.account_id %>">Update Account Info</a>

<% if (message) { %>
  <p class="success"><%= message %></p>
<% } %>