<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title><%= title %></title>
</head>
<body>
  <nav><%- nav %></nav>
  <h1>Login</h1>
  <% if (message) { %>
    <p><%= message %></p>
  <% } %>

  <form action="/account/login" method="post">
    <label>Email:</label>
    <input type="email" name="account_email" required />

    <label>Password:</label>
    <input type="password" name="account_password" required />

    <button type="submit">Login</button>
  </form>
</body>
</html>