<%- include('../partials/header') %>

<h1>Account Management</h1>

<% if (notice && notice.length > 0) { %>
  <p class="notice"><%= notice %></p>
<% } %>

<p>You’re logged in.</p>

<%- include('../partials/footer') %>
