<% if (messages.error && messages.error.length > 0) { %>
  <ul style="color:red">
    <% messages.error.forEach(msg => { %>
      <li><%= msg %></li>
    <% }) %>
  </ul>
<% } %>

<% if (messages.success && messages.success.length > 0) { %>
  <ul style="color:green">
    <% messages.success.forEach(msg => { %>
      <li><%= msg %></li>
    <% }) %>
  </ul>
<% } %>
