<!DOCTYPE html>
<html>
<head>
  <title>All Vehicles</title>
</head>
<body>
  <h1>All Vehicles</h1>
  <ul>
    <% vehicles.forEach(vehicle => { %>
      <li><%= vehicle.make %> <%= vehicle.model %> (<%= vehicle.year %>)</li>
    <% }) %>
  </ul>
  <a href="/">Back Home</a>
</body>
</html>