<!DOCTYPE html>
<html>
<head>
  <title>Vehicles by Classification</title>
</head>
<body>
  <h1>Vehicles</h1>
  <ul>
    <% vehicles.forEach(vehicle => { %>
      <li><%= vehicle.make %> <%= vehicle.model %> (<%= vehicle.year %>)</li>
    <% }) %>
  </ul>
  <a href="/vehicles">Back to All Vehicles</a>
</body>
</html>