<% const d = new Date()
let year = d.getFullYear() %>

<footer>
  <p class="copyright">
    <strong>&copy; <%= year %>, CSE 340 App</strong>
  </p>

  <p>
    <a href="/inv/broken" title="Will trigger an error">
      Click here for Error Link
    </a>
  </p>
</footer>