<% const d = new Date()
let year = d.getFullYear() %>
<footer>
 <strong> <p class="copyright">& copy ; <%= year %>,  CSE 340 App </strong></p>
    <%# Assignment 3, Task 3 Link %>
  <p><a href="/inv/broken" title="Will trigger a error">Click here for Error Link</a></p>
</footer>
