<header class="site-header">
  <div class="header-inner">
    <img src="/images/vehicles/logo.png" alt="CSE Motors Logo" class="logo">
    <a href="#" class="account-link">My Account</a>
  </div>
</header>
