<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="CSE340 Vehicle Inventory Management System">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
  <nav>
    <a href="/inventory/classification/1">Cars</a>
    <a href="/inventory/classification/2">Trucks</a>
  </nav>
</header>
<main>