<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<header>
  <div class="siteName">
    <a href="/">CSE Motors</a>
  </div>

  <nav>
    <%- nav %>
  </nav>
</header>