<header>
  <h1>Vehicle Inventory</h1>
  <nav>
    <a href="/inventory">Inventory</a> | 
    <a href="/inventory/add">Add Vehicle</a> |
    <a href="/classification/add">Add Classification</a>
  </nav>
  <% if (messages && messages.length > 0) { %>
    <p class="flash"><%= messages %></p>
  <% } %>
</header>