<nav>
  <ul>
    <% if (locals.account) { %>
      <li><a href="/account/manage">Welcome <%= account.firstname %></a></li>
      <li><a href="/logout">Logout</a></li>
    <% } else { %>
      <li><a href="/login">My Account</a></li>
    <% } %>
  </ul>
</nav>