<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/accounts">Account Management</a></li>
    <li><a href="/inventory">Inventory</a></li>
    <li><a href="/logout">Logout</a></li>
    <li><a href="/trigger-error">Test 500 Error</a></li>
  </ul>
</nav>