<nav>
  <% if (account) { %>
    <a href="/accounts/manage">My Account</a>
    <a href="/logout">Logout</a>
  <% } else { %>
    <a href="/login">Login</a>
  <% } %>
  <a href="/">Home</a>
  <a href="/inventory">Inventory</a>
</nav>