<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<header>
  <h1>CSE Motors</h1>
  <nav><%- nav %></nav>
</header>

<main>
  <%- body %>
</main>

<footer>
  <a href="/inv/trigger-error">Trigger 500 Error</a>
</footer>

</body>
</html>