<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <h1>Add Classification</h1>
    <% if(message.length > 0){ %>
        <p><%= message %></p>
    <% } %>
    <form action="/inv/add-classification" method="POST">
        <label for="classification_name">Classification Name:</label>
        <input type="text" name="classification_name" id="classification_name" pattern="\w+" required>
        <button type="submit">Add Classification</button>
    </form>
</body>
</html>