<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home Page</title>
</head>
<body>
  <h1>Home Page</h1>
  <ul>
    <% vehicles.forEach(vehicle => { %>
      <li>
        <a href="/inv/detail/<%= vehicle.inv_id %>">
          <%= vehicle.inv_make %> <%= vehicle.inv_model %>
        </a>
      </li>
    <% }) %>
  </ul>
</body>
</html>
