<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("partials/head") %>
  <title>Home</title>
</head>
<body>
  <%- include("partials/header") %>
  <%- include("partials/navigation") %>

  <main>
    <% if (message.length > 0) { %>
      <p style="color:green"><%= message %></p>
    <% } %>
    <h2>Welcome to CSE Motors!</h2>
  </main>
</body>
</html>
