<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("partials/head") %>
  <title><%= title %></title>
</head>
<body>
  <%- include("partials/navigation") %>

  <h1>Welcome to CSE340 Vehicle Management</h1>

  <% if (success.length > 0) { %>
    <p class="flash-message"><%= success[0] %></p>
  <% } %>
</body>
</html>
