<h1>Inventory</h1>
<ul>
  <% vehicles.forEach(vehicle => { %>
    <li>
      <a href="/inv/detail/<%= vehicle.id %>">
        <%= vehicle.make %> <%= vehicle.model %>
      </a>
    </li>
  <% }) %>
</ul>
