<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1>Home</h1>
  <nav>
    <ul>
      <% nav.forEach(item => { %>
        <li><a href="<%= item.link %>"><%= item.name %></a></li>
      <% }) %>
    </ul>
  </nav>
</body>
</html>
