<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>
  <%- nav %>
  <h1>Home</h1>

  <% if (messages.notice) { %>
    <div style="color: green;"><%= messages.notice %></div>
  <% } %>
</body>
</html>
