<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vehicle Detail</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Vehicle Detail</h1>
  <%= vehicleHTML %>
  <a href="/inventory">Back to Inventory</a>
</body>
</html>