<h2>Account Management</h2>
<form method="POST" action="/account/update">
  <input type="text" name="name" value="<%= user.name %>" required>
  <input type="email" name="email" value="<%= user.email %>" required>
  <input type="password" name="password" placeholder="New Password">
  <button type="submit">Update</button>
</form>
<a href="/account/logout">Logout</a>