<h2>Welcome <%= first_name %></h2>

<% if (account_type === 'Employee' || account_type === 'Admin') { %>
  <h3>Inventory Management</h3>
  <p><a href="/inventory/admin">Manage Inventory</a></p>
<% } %>

<p><a href="/accounts/update/<%= account_id %>">Update Account Information</a></p>