<h1>Inventory Management</h1>

<% if (message && message.length > 0) { %>
    <div class="flash-message"><%= message %></div>
<% } %>

<ul>
    <li><a href="/inv/add-classification">Add Classification</a></li>
    <li><a href="/inv/add-inventory">Add Inventory Item</a></li>
</ul>