<!DOCTYPE html>
<html>
<head>
  <title>Add Vehicle</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <% if (messages.length) { %>
    <ul>
      <% messages.forEach(msg => { %>
        <li style="color:green;"><%= msg %></li>
      <% }) %>
    </ul>
  <% } %>

  <% if (errors.length) { %>
    <ul>
      <% errors.forEach(err => { %>
        <li style="color:red;"><%= err %></li>
      <% }) %>
    </ul>
  <% } %>

  <h1>Add Classification</h1>
  <form action="/inventory/classification" method="POST">
    <input type="text" name="classificationName" placeholder="Classification Name" required>
    <button type="submit">Add</button>
  </form>

  <h1>Add Vehicle</h1>
  <form action="/inventory/vehicle" method="POST">
    <input type="text" name="make" placeholder="Make" required>
    <input type="text" name="model" placeholder="Model" required>
    <input type="number" name="year" placeholder="Year" required>
    <input type="text" name="description" placeholder="Description">
    <input type="number" name="price" placeholder="Price">
    <input type="number" name="miles" placeholder="Miles">
    <input type="text" name="color" placeholder="Color">
    <input type="number" name="classification_id" placeholder="Classification ID">
    <button type="submit">Add Vehicle</button>
  </form>
</body>
</html>