ul.notice {
  background-color: #d9edf7;
  color: #31708f;
  padding: 10px;
  border-radius: 4px;
  list-style-type: none;
}

ul.error {
  background-color: #f2dede;
  color: #a94442;
  padding: 10px;
  border-radius: 4px;
  list-style-type: none;
}
