/* public/css/style.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header, footer {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
}

header a {
  color: #fff;
  margin: 0 1em;
  text-decoration: none;
}

h1, h2, h3, p {
  margin: 0.5em;
}
