.vehicle-detail {
  display: flex;
  gap: 2rem;
  margin: 2rem 0;
}

.vehicle-detail img {
  max-width: 50%;
  height: auto;
}

.vehicle-info {
  max-width: 50%;
}

@media screen and (max-width: 768px) {
  .vehicle-detail {
    flex-direction: column;
  }

  .vehicle-detail img,
  .vehicle-info {
    max-width: 100%;
  }
}
