.vehicle-detail {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
}

.vehicle-image img {
  max-width: 100%;
  height: auto;
}

.vehicle-info {
  max-width: 500px;
}

@media screen and (max-width: 768px) {
  .vehicle-detail {
    flex-direction: column;
  }
}
