/* public/css/style.css */
.vehicle-detail {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.vehicle-detail img.responsive-img {
  max-width: 400px;
  width: 100%;
  height: auto;
}

.vehicle-detail div {
  flex: 1;
  min-width: 250px;
}