<!DOCTYPE html>
<html>
<head>
  <%- include("partials/head") %>
  <title>Add Classification</title>
</head>
<body>
  <%- include("partials/header") %>
  <%- include("partials/navigation") %>

  <main>
    <h2>Add Classification</h2>
    <form>
      <label>Classification Name: <input type="text" name="classification"></label><br>
      <button type="submit">Add</button>
    </form>
  </main>
</body>
</html>
