<!DOCTYPE html>
<html>
<head>
  <title>Add Classification</title>
</head>
<body>
  <h1>Add Classification</h1>
  <% if (messages.error.length > 0) { %>
    <p style="color:red"><%= messages.error %></p>
  <% } %>
  <form action="/inventory/add-classification" method="POST">
    <label>Classification Name: <input type="text" name="name"></label><br>
    <button type="submit">Add Classification</button>
  </form>
</body>
</html>
