<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/styles.css">
  <title><%= title %></title>
</head>
<body>
  <% include ../partials/header %>
  <% include ../partials/nav %>

  <main>
    <h1>Add Classification</h1>
    <form action="/inv/add-classification" method="POST">
      <label for="name">Classification Name:</label>
      <input type="text" name="name" id="name" required>
      <button type="submit">Add</button>
    </form>
  </main>

  <% include ../partials/footer %>
</body>
</html>
