<h1>Add Classification</h1>

<form method="post">
  <input name="classification_name" required pattern="[A-Za-z0-9]+">
  <button>Add</button>
</form>

<% if (errors) { errors.forEach(e => { %>
  <p><%= e.msg %></p>
<% }) } %>
