<form action="/inv/add-inventory" method="POST">
  <label>Vehicle Name: <input type="text" name="name"></label><br>
  <label>Price: <input type="number" name="price"></label><br>
  <label>Classification:
    <select name="classification">
      <% classifications.forEach(cls => { %>
        <option value="<%= cls %>"><%= cls %></option>
      <% }) %>
    </select>
  </label><br>
  <button type="submit">Add</button>
</form>
