<!-- Classification View -->

<!-- Content Heading -->
<% if (title) { %>
  <h1><%= title %></h1>
<% } else { %>
  <% res.redirect('/') %>
<% } %>

<!-- Message Block (future-proofing for error or success messages) -->
<%# messages() %>

<!-- Inventory Items Display -->
<%- grid %>