<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%- vehicleHTML %>

  <footer>
    <a href="/inventory/trigger-error">Trigger 500 Error</a>
  </footer>
</body>
</html>