<h1>Vehicle Inventory</h1>
<ul>
  <% vehicles.forEach(vehicle => { %>
    <li>
      <a href="/inventory/detail/<%= vehicle.inv_id %>">
        <%= vehicle.make %> <%= vehicle.model %>
      </a>
    </li>
  <% }) %>
</ul>