<h1>Inventory Management</h1>
<% if (message) { %>
  <p style="color:green;"><%= message %></p>
<% } %>
<ul>
  <li><a href="/inv/add-classification">Add New Classification</a></li>
  <li><a href="/inv/add-vehicle">Add New Vehicle</a></li>
</ul>