<!DOCTYPE html>
<html>
<head>
  <title>Inventory Management</title>
</head>
<body>
  <h1>Inventory Management</h1>
  <% if (message.length > 0) { %>
    <p style="color:green"><%= message %></p>
  <% } %>
  <ul>
    <li><a href="/inv/add-classification">Add Classification</a></li>
    <li><a href="/inv/add-inventory">Add Inventory Item</a></li>
  </ul>
</body>
</html>
