<h1>Inventory Management</h1>
<% if (success.length) { %>
  <div class="success"><%= success.join(", ") %></div>
<% } %>
<a href="/inv/add-classification">Add Classification</a>
<a href="/inv/add-vehicle">Add Vehicle</a>
